 body{
    background-image: url(https://ebz-static.s3.ap-south-1.amazonaws.com/easebuzz-static/upi-credit-cards-v1.png);
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
     backdrop-filter: blur(6px);
    background-position: center;
    background-attachment: fixed;
 } 
.homeCard{
    background-color: rgba(5, 25, 55, 0.178);
    backdrop-filter: blur(2px);
}
.viewDetailsCard{
    background: linear-gradient(rgba(16, 223, 212, 0.1),rgba(152, 68, 12, 0.6));
    /* background-color: rgba(31, 175, 31, 0.473); */
    backdrop-filter: blur(3px);
    color: rgb(255, 255, 255);
}